{% extends "index/base.html" %}
{% block title %}
    <title>黄金TD资讯_黄金TD分析_黄金TD问答 — 福建华明元实业有限公司</title>
{% endblock %}

{% block banner %}
<div class="banner banner_s"><img src="../../static/upload/banner.jpg" alt="黄金学堂"/></div>
{% endblock %}


{% block main %}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<div class="s_nav">
        	<a href="{% url 'golds' %}"  class="active"><span>黄金TD资讯</span></a>
            <a href="{% url 'golds_tz' %}"><span>黄金投资</span></a>
            <a href="{% url 'golds_gd' %}"><span>机构观点</span></a>
            <a href="{% url 'golds_fx' %}"><span>机构分析</span></a>
        </div>
        <div class="pst">
        	当前位置：<a href="{% url 'index' %}">首页</a>-<a href="javascript:void(0);">黄金学堂</a>
        </div>
    </div>
        <div class="news">
            <div class="new_m">
                {% for gold in golds %}
                    <div class="n_m" >
                        <div class="title">
                            <span>{{ gold.created_time|date:"Y-m-d" }}</span>
                            <p class="name"><a href="{% url 'golds_d' gold.id %}" target="_blank"><b>{{ gold.title }}</b></a></p>
                        </div>
                        <div class="des">
                            {{ gold.text }} ...
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    <div class="space_hx">&nbsp;</div>
    <div class="fenye_box">
    	<a href="?page=1">首页</a>
                {#      上一页   has_previous   #}
            {% if page_of_news.has_previous %}
                <a href="?page={{ page_of_news.previous_page_number }}" aria-label="Previous">上一页</a>
            {% else %}
                <a aria-hidden="true">上一页</a>
            {% endif %}
                {#      上一页          #}
             {#      全部页码          #}
            {% for page_num in page_range %}
                {% if page_num == page_of_news.number %}
                    <a  class="on" style="background-color: #2b2b2b">{{ page_num }}</a>
                {% else %}
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
            {#      全部页码          #}
            {#      下一页          #}
            {% if page_of_news.has_next %}
                <a href="?page={{ page_of_news.next_page_number }}" aria-label="Next">下一页</a>
            {% else %}
                <a aria-hidden="true">下一页</a>
            {% endif %}
            {#      下一页          #}
                 {#   尾页就是获取就大的页码数   #}
           <a href="?page={{ paginator.num_pages }}">尾页</a>
    </div>
    </div>
</div>
{% endblock %}
