{% extends "index/base.html" %}

{% block title %}
    <title>{{ rule.title }} — 福建华明元实业有限公司</title>
{% endblock %}

{% block banner %}{% endblock %}

{% block main %}
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>福建华明元实业有限公司</span>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml">
        	<h1>{{ rule.title }}</h1>
            <div class="time">
            	<span>{{ rule.created_time }}</span>
                <span>来源：{{ rule.author }}</span>
                <span>浏览次数：{{ rule.read_num }}</span>
                <div class="font">
                	<span>字体大小：</span>
                    <em class="on f_14">14px</em>
                    <em class="f_16">16px</em>
                    <em class="f_18">18px</em>
                </div>
            </div>
            <div class="ctn">
            	<div class="des">
                	<p>{{ rule.text }}</p>
                </div>
                <div class="ctn_m">
                    {{ rule.content|safe }}
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div style="font-size: 15px">
                {% if previoud_new %}
                    <h4>上一篇：<a href="{% url 'rule_d' previoud_new.pk %}">{{ previoud_new.title }}</a></h4>
                {% else %}
                   <h4>上一篇：暂无</h4>
               {% endif %}
            <div class="space_hx">&nbsp;</div>
                {% if next_new %}
                    <h4>下一篇：<a href="{% url 'rule_d' next_new.pk %}">{{ next_new.title }}</a></h4>
                {% else %}
                   <h4>下一篇：暂无最新</h4>
               {% endif %}
            </div>
        </div>
        <div class="scd_mr">
        	<div class="box_h">
            	<span>黄金学堂</span>
                <a href="{% url 'golds' %}">更多</a>
            </div>
            <div class="box_m"><img src="../../static/upload/timg.jpg" alt="黄金学堂"/></div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>宣传视频</span>
                <a href="javascript:void(0);">更多</a>
            </div>
            <div class="box_m">
            	<div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="../../static/upload/pic5.jpg" alt=""/>
                            <span class="play-btn"><img src="../../static/images/icon7.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="../../static/images/gold.Ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>制度与规则</span>
                <a href="{% url 'rule' %}" target="_blank">更多</a>
            </div>
            <div class="box_m">
            	<ul>
                    {% for rule in rule_all %}
                	    <li><a href="{% url 'rule_d' rule.id %}" target="_blank">{{ rule.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
