{% extends "index/base.html" %}
{% block title %}
    <title>意见和建议 — 福建华明元实业有限公司</title>
{% endblock %}

{% block banner %}
<div class="banner banner_s"><img src="../../static/upload/banner_a.jpg" alt="意见和建议"/></div>
{% endblock %}


{% block main %}
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<div class="s_nav">
            <a href="" class="active"><span>意见和建议</span></a>
        </div>
        <div class="pst">
        	当前位置：<a href="/">首页</a>-<a href="">意见和建议</a>
        </div>
    </div>
    <div class="join clearfix">
    	<ul class="book">
        	<li class="clearfix">
            	<p>尊敬的客户，您的意见和建议是我们的宝贵财富，如果您有想对我们说的话，请在下方表格填写。</p>
            </li>
            <li class="clearfix">
            	<span class="title">所在城市：</span>
                <div class="li_r">
                	<input name="" type="text">
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">您的姓名：</span>
                <div class="li_r">
                	<input name="" type="text">
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">您的电话：</span>
                <div class="li_r">
                	<input name="" type="text">
                    <p>为方便我们给您回复，请正确填写您的电话。例如:020-286***0或者手机号</p>
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">电子邮箱：</span>
                <div class="li_r">
                	<input name="" type="text" class="chang">
                    <p>为方便我们给您回复，请正确填写您的邮箱地址。例如：12@163.com</p>
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">&nbsp;</span>
                <div class="li_r">
                	<textarea name="" cols="" rows="7" class="chang"></textarea>
                </div>
            </li>
            <li class="clearfix">
            	<span class="title">&nbsp;</span>
                <div class="li_r">
                	<input name="" type="submit" value="提交">
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
