<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
{% block title %}{% endblock %}
<link rel="stylesheet" type="text/css" href="../../static/css/reset.css"/>
<script type="text/javascript" src="../../static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../static/js/js_z.js"></script>
<script type="text/javascript" src="../../static/js/banner.js"></script>
<link rel="shortcut icon" href="../../static/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="../../static/css/thems.css">
<link rel="stylesheet" type="text/css" href="../../static/css/responsive.css">
<script language="javascript">
$(function(){
	$('#owl-demo').owlCarousel({
		items: 1,
		navigation: true,
		navigationText: ["上一个","下一个"],
		autoPlay: true,
		stopOnHover: true
	}).hover(function(){
		$('.owl-buttons').show();
	}, function(){
		$('.owl-buttons').hide();
	});
});
</script>

</head>

<body>
<!--头部-->
<div class="header">
    <div class="head clearfix">
        <div class="logo"><a href="javascript:void(0);"><img src="../../static/images/logo2.png" alt="福建华明元实业有限公司"/></a></div>
        <div class="head_r clearfix">
        	<div class="search">
                <input name="" type="text">
                <input name="" type="submit" value="">
            </div>
            <div class="nav_m">
                <div class="n_icon">导航栏</div>
                <ul class="nav clearfix">
                    <li class="now"><a href="{% url 'index' %}">首页</a></li>
                    <li><a href="{% url 'about' %}">关于我们</a></li>
                    <li><a href="{% url 'news' %}">企业新闻</a></li>
                    <li class="er"><a href="{% url 'golds' %}">黄金学堂</a></li>
                    <li><a href="{% url 'rule' %}">制度与规则</a></li>
                    <li><a href="{% url 'recruit' %}">招聘中心</a></li>
                    <li><a href="{% url 'customer' %}" rel="nofollow">客户中心</a></li>
                    <li><a href="{% url 'contact' %}" rel="nofollow">联系我们</a></li>
                </ul>
                <div class="er_m">
                <div class="hx">
                	<i>&nbsp;</i>
                	<div class="b_head">
                    	黄金学堂<em>System and Rules</em>
                    </div>
                    <div class="hx_m clearfix">
                    	<ul class="hx_ml">
                        	<li><a href="{% url 'golds' %}" target="_blank" ><span>黄金TD资讯</span></a></li>
                            <li><a href="{% url 'golds_tz' %}" target="_blank"><span>黄金投资</span></a></li>
                            <li><a href="{% url 'golds_gd' %}" target="_blank"><span>机构观点</span></a></li>
                            <li><a href="{% url 'golds_fx' %}" target="_blank"><span>机构分析</span></a></li>
                        </ul>
                        <div class="hx_mr"><img src="../../static/upload/timg.jpg" alt="黄金学堂"/></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>


<!--头部-->
<!--幻灯片-->
{% block banner %}

{% endblock %}
<!--幻灯片-->
<!--主体部分-->
{% block main %}

{% endblock %}
<!--主体部分-->
<!--尾部-->
<div class="fn_bg">
	<ul class="f_nav clearfix">
    	<li>
        	<a href="{% url 'contact' %}">
            	<img src="../../static/images/f_1.png" alt="联系我们"/>
                <span>联系我们</span>
            </a>
        </li>
        <li>
        	<a href="{% url 'customer' %}">
            	<img src="../../static/images/f_2.png" alt="客户服务"/>
                <span>客户服务</span>
            </a>
        </li>
        <li>
        	<a href="javascript:void(0);">
            	<img src="../../static/images/f_3.png" alt="在线客服"/>
                <span>在线客服</span>
            </a>
        </li>
        <li>
        	<a href="javascript:void(0);">
            	<img src="../../static/images/f_4.png" alt="关注我们"/>
                <span>关注我们</span>
            </a>
        </li>
        <li>
        	<a href="javascript:void(0);">
            	<img src="../../static/images/f_5.png" alt="一键分享"/>
                <span>一键分享</span>
            </a>
        </li>
    </ul>
</div>
<div class="bq">Copyright © 2019.COMPANY NAME ALL RIGHTS RESERVED. <a href="javascript:void(0);">福建华明元实业有限公司</a></div>
<!--尾部-->
{% block script %}{% endblock %}
</body>
</html>
