{% extends "index/base.html" %}
{% block title %}
    <title>叶良镇公司</title>
{% endblock %}

<!--头部-->
<!--幻灯片-->
{% block banner %}

<div id="banner" class="banner"> 
    <div id="owl-demo" class="owl-carousel"> 
        <a class="item" target="_blank" href="" style="background-image:url(../../static/upload/banner.jpg)">
            <img src="../../static/upload/banner.jpg" alt="">
        </a>
        <a class="item" target="_blank" href="" style="background-image:url(../../static/upload/banner.jpg)">
            <img src="../../static/upload/banner.jpg" alt="">
        </a>
    </div>
</div>
{% endblock %}
<!--幻灯片-->
{% block main %}
<div class="space_hx">&nbsp;</div>
<div class="i_ma">
	<div class="i_name">
    	我们的产业
        <p>QIHui Our industry</p>
    </div>
    <div class="space_hx">&nbsp;</div>
    <ul class="clearfix">
    	<li>
        	<a href="">
            	<img src="../../static/images/p1.png" alt=""/>
                <h6>一站式服务</h6>
                <div class="des">
                	One Stop Civil Affairs Management
                </div>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="../../static/images/p2.png" alt=""/>
                <h6>创客公寓</h6>
                <div class="des">
                	A guest apartment
                </div>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="../../static/images/p3.png" alt=""/>
                <h6>孵化器</h6>
                <div class="des">
                	Business incubator
                </div>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="../../static/images/p4.png" alt=""/>
                <h6>智慧俱乐部</h6>
                <div class="des">
                	Wisdom Made Club
                </div>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="../../static/images/p5.png" alt=""/>
                <h6>商务办公</h6>
                <div class="des">
                	Business Office
                </div>
            </a>
        </li>
        <li>
        	<a href="">
            	<img src="../../static/images/p6.png" alt=""/>
                <h6>商业街</h6>
                <div class="des">
                	Theme-oriented Commercial Street
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="space_hx">&nbsp;</div>
<div class="i_mb clearfix">
	<div class="i_mbl">
    	<div class="b_head">
        	<span>新闻中心</span>News Center
        </div>
        <ul>
        	<li>
            	<a href="">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>再获深房</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>再获深房</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>再获深房</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>再获深房</p>
                    <em>2015-10-25</em>
                </a>
            </li>
            <li>
            	<a href="">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>再获深房</p>
                    <em>2015-10-25</em>
                </a>
            </li>
        </ul>
    </div>
    <div class="i_mbr">
    	<div class="b_head"><span>宣传视频</span>Video</div>
    	<div class="tabBox_t">
            <div class="tabBox">
              <ul class="tabNav">
                <li class="now">集团宣传</li>
                <li>项目宣传</li>
              </ul>
              <div class="tabCont" style="display:block;">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="../../static/upload/pic2.jpg" alt=""/>
                            <span class="play-btn"><img src="../../static/images/icon6.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="../../static/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
              </div>
              <div class="tabCont">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="../../static/upload/pic2.jpg" alt=""/>
                            <span class="play-btn"><img src="../../static/images/icon6.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="../../static/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="i_mbc">
    	<div class="i_mbc1">
        	<dl class="clearfix">
            	<dt>
                	<b>企业服务</b>
                    Enterprise services
                </dt>
                <dd>
                	<div class="m_search">
                    	<input name="" type="text">
                        <input name="" type="submit" value="">
                    </div>
                </dd>
            </dl>
            <div class="sq"><a href="">服务申请</a></div>
        </div>
        <ul class="clearfix">
        	<li>
            	<a href="">
                	<img src="../../static/images/f1.png" alt=""/>
                    <span>金融服务</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="../../static/images/f2.png" alt=""/>
                    <span>项目申报</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="../../static/images/f3.png" alt=""/>
                    <span>企业认定</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="../../static/images/f4.png" alt=""/>
                    <span>人才服务</span>
                </a>
            </li>
            <li>
            	<a href="">
                	<img src="../../static/images/f5.png" alt=""/>
                    <span>人力资源</span>
                </a>
            </li>
            <li>&nbsp;</li>
        </ul>
    </div>
    
</div>
<div class="space_hx">&nbsp;</div>
<div class="friend">
	<div class="b_head"><span>友情链接</span></div>
    <div class="frd_m">
    	<a href="">百度</a>
        <a href="">阿里巴巴</a>
        <a href="">QQ</a>
        <a href="">网易</a>
        <a href="">新浪</a>
    </div>
</div>
{% endblock %}
