{% extends "index/base.html" %}
{% block title %}
    <title>福建华明元实业有限公司</title>
{% endblock %}

<!--头部-->
<!--幻灯片-->
{% block banner %}

<div id="banner" class="banner"> 
    <div id="owl-demo" class="owl-carousel"> 
        <a class="item" href="javascript:void(0);" style="background-image:url(../../static/upload/banner.jpg)">
            <img src="../../static/upload/banner.jpg" alt="福建华明元实业有限公司">
        </a>
        <a class="item"  href="javascript:void(0);" style="background-image:url(../../static/upload/banner_a.jpg)">
            <img src="../../static/upload/banner_a.jpg" alt="福建华明元实业有限公司">
        </a>
    </div>
</div>
{% endblock %}
<!--幻灯片-->
{% block main %}
<div class="space_hx">&nbsp;</div>
<div class="i_ma">
	<div class="i_name">
    	我们的服务
        <p>HMYuan Our Service</p>
    </div>
    <div class="space_hx">&nbsp;</div>
    <ul class="clearfix">
    	<li>
        	<a href="{% url 'golds' %}">
            	<img src="../../static/images/p1.png" alt="黄金TD资讯"/>
                <h6>黄金TD资讯</h6>
                <div class="des">
                	Gold TD Information
                </div>
            </a>
        </li>
        <li>
        	<a href="{% url 'culture' %}">
            	<img src="../../static/images/p2.png" alt="企业文化"/>
                <h6>企业文化</h6>
                <div class="des">
                	Corporate Culture
                </div>
            </a>
        </li>
        <li>
        	<a href="{% url 'news' %}">
            	<img src="../../static/images/p3.png" alt="头条新闻"/>
                <h6>头条新闻</h6>
                <div class="des">
                	Headline News
                </div>
            </a>
        </li>
        <li>
        	<a href="{% url 'golds_gd' %}">
            	<img src="../../static/images/p4.png" alt="机构观点"/>
                <h6>机构观点</h6>
                <div class="des">
                	Institutional View
                </div>
            </a>
        </li>
        <li>
        	<a href="{% url 'rule'%}">
            	<img src="../../static/images/p5.png" alt="黄金市场政策"/>
                <h6>黄金市场政策</h6>
                <div class="des">
                	Gold Market Policy
                </div>
            </a>
        </li>
        <li>
        	<a href="{% url 'customer'%}">
            	<img src="../../static/images/p6.png" alt="意见和反馈"/>
                <h6>意见和反馈</h6>
                <div class="des">
                	Comments and Feedback
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="space_hx">&nbsp;</div>
<div class="i_mb clearfix">
	<div class="i_mbl">
    	<div class="b_head">
        	<span>新闻中心</span>News Center
        </div>
        <ul>
            {% for new in news %}
        	<li>
            	<a href="{% url 'new_d' new.id %}">
                	<p>{{ new.title }}</p>
                    <em>{{ new.created_time|date:"Y-m-d" }}</em>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="i_mbr">
    	<div class="b_head"><span>宣传视频</span>Video</div>
    	<div class="tabBox_t">
            <div class="tabBox">
              <ul class="tabNav">
                <li class="now">集团宣传</li>
                <li>项目宣传</li>
              </ul>
              <div class="tabCont" style="display:block;">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="../../static/upload/pic2.jpg" alt=""/>
                            <span class="play-btn"><img src="../../static/images/icon6.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="../../static/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
              </div>
              <div class="tabCont">
                <div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="../../static/upload/pic2.jpg" alt=""/>
                            <span class="play-btn"><img src="../../static/images/icon6.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="../../static/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="i_mbc">
    	<div class="i_mbc1">
        	<dl class="clearfix">
            	<dt>
                	<b>企业服务</b>
                    Enterprise services
                </dt>
                <dd>
                	<div class="m_search">
                    	<input name="" type="text">
                        <input name="" type="submit" value="">
                    </div>
                </dd>
            </dl>
            <div class="sq"><a href="">服务查询</a></div>
        </div>
        <ul class="clearfix">
        	<li>
            	<a href="{% url 'golds_tz' %}">
                	<img src="../../static/images/f1.png" alt="黄金投资"/>
                    <span>黄金投资</span>
                </a>
            </li>
            <li>
            	<a href="{% url 'ywgz' %}">
                	<img src="../../static/images/f2.png" alt="业务规则"/>
                    <span>业务规则</span>
                </a>
            </li>
            <li>
            	<a href="{% url 'ideal' %}">
                	<img src="../../static/images/f3.png" alt="企业理念"/>
                    <span>企业理念</span>
                </a>
            </li>
            <li>
            	<a href="{% url 'recruit' %}">
                	<img src="../../static/images/f4.png" alt="人才招聘"/>
                    <span>人才招聘</span>
                </a>
            </li>
            <li>
            	<a href="{% url 'fxqzl' %}">
                	<img src="../../static/images/f5.png" alt="反洗钱专栏"/>
                    <span>反洗钱专栏</span>
                </a>
            </li>
            <li>&nbsp;</li>
        </ul>
    </div>
    
</div>
<div class="space_hx">&nbsp;</div>
<div class="friend">
	<div class="b_head"><span>友情链接</span></div>
    <div class="frd_m">
    	<a href="https://www.sge.com.cn/">上海黄金交易所</a>
        <a href="http://www.dyhjw.com">第一黄金网</a>
        <a href="http://gold.hexun.com/">和讯黄金网</a>
    </div>
</div>
{% endblock %}
