{% extends "index/base.html" %}
{% block title %}
    <title>叶良镇公司新闻</title>
{% endblock %}

{% block banner %}

{% endblock %}


{% block main %}

<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
    <div class="news clearfix">
    	<div class="news_l">
        	<div class="scd_top">
                <span>头条新闻</span>
                <div class="pst">
                    当前位置：<a href="">首页</a>-<a href="">新闻中心</a>
                </div>
            </div>
            <div class="new_m">
            	<div class="box mainPhoto"> <span class="goleft nextPage"><a href="javascript:void(0)"><img src="../../static/images/prev.png"/></a></span>
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                      	<div class="tu"><a href="news_d.html"><img src="../../static/upload/pic7.jpg" alt=""/></a></div>
                        <div class="n_m">
                            <div class="title">
                                <span>2015-1-11</span>
                                <p class="name"><a href="news_d.html">头条新闻长安乌沙大酒店开始啦</a></p>
                            </div>
                            <div class="des">
                                头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安店开始...
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <span class="goright prevPage"><a href="javascript:void(0)"><img src="../../static/images/next.png" /></a></span> </div>
                <script>
                $(function(){
                $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                });	
                </script> 
            	<div class="n_m">
                    <div class="title">
                        <span>2015-1-11</span>
                        <p class="name"><a href="news_d.html">头条新闻长安乌沙大酒店开始啦</a></p>
                    </div>
                    <div class="des">
                        头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒店开始...
                    </div>
                </div>
            </div>
        </div>
        <div class="news_r">
        	<div class="scd_top">
                <span>全部新闻</span>
            </div>
            <div class="new_m">
        	<div class="n_m">
                <div class="title">
                    <span>2015-1-11</span>
                    <p class="name"><a href="news_d.html">头条新闻长安乌沙大酒店开始啦</a></p>
                </div>
                <div class="des">
                    头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒店开始...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>2015-1-11</span>
                    <p class="name"><a href="news_d.html">头条新闻长安乌沙大酒店开始啦</a></p>
                </div>
                <div class="des">
                    头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒店开始...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>2015-1-11</span>
                    <p class="name"><a href="news_d.html">头条新闻长安乌沙大酒店开始啦</a></p>
                </div>
                <div class="des">
                    头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒店开始...
                </div>
            </div>
            <div class="n_m">
                <div class="title">
                    <span>2015-1-11</span>
                    <p class="name"><a href="news_d.html">头条新闻长安乌沙大酒店开始啦</a></p>
                </div>
                <div class="des">
                    头条新闻长安乌沙大酒店开始啦九月的深圳秋高氣爽陽光和煦中國公益慈善項目始啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒啦九月的深圳秋深圳會展中心順利舉辦条新闻长安乌沙大酒店开始...
                </div>
           </div>
        </div>
        </div>
    </div>
    <div class="space_hx">&nbsp;</div>
    <div class="pages">
    	<a href="">首页</a>
        <a href="">上一页</a>
        <a href="">1</a>
        <a href="">下一页</a>
        <a href="">尾页</a>
    </div>
</div>
{% endblock %}
