{% extends "index/base.html" %}
{% block title %}
    <title>叶良镇公司新闻详情</title>
{% endblock %}

{% block banner %}

{% endblock %}


{% block main %}
<!--头部-->
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<span>新闻详情</span>
        <div class="pst">
        	当前位置：<a href="">首页</a>-<a href="">新闻中心</a>
        </div>
    </div>
    <div class="scd_m clearfix">
    	<div class="scd_ml">
        	<h1>{{ new.title }}</h1>
            <div class="time">
            	<span>{{ new.created_time }}</span>
                <span>来源：{{ new.author }}</span>
                <span>浏览次数  {{ new.read_num }}</span>
                <div class="font">
                	<span>字体大小：</span>
                    <em class="on f_14">14px</em>
                    <em class="f_16">16px</em>
                    <em class="f_18">18px</em>
                </div>
            </div>
            <div class="ctn">
            	<div class="des">
                	<p>{{ new.text }}</p>
                </div>
                <div class="ctn_m">
                    {{ new.content|safe }}
                </div>
            </div>
        </div>
        <div class="scd_mr">
        	<div class="box_h">
            	<span>热销项目</span>
                <a href="">更多</a>
            </div>
            <div class="box_m"><img src="../../static/upload/pic4.jpg" alt=""/></div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>宣传视频</span>
                <a href="">更多</a>
            </div>
            <div class="box_m">
            	<div class="videoRow-box">
                    <div class="rel">
                        <a href="javascript:;" class="videoImg">
                            <img src="../../static/upload/pic5.jpg" alt=""/>
                            <span class="play-btn"><img src="../../static/images/icon7.png"></span>
                        </a>
                        <video class="video videoPlay" controls>
                            <source src="../../static/images/movie.ogg">
                        </video>
                        <!--<embed class="video videoPlay" id="player" src="http://player.youku.com/player.php/Type/Folder/Fid/26148725/Ob/1/sid/XMTM2MDQ4NzY3Mg==/v.swf" quality="high" align="middle"></embed>-->
                    </div>
                </div>
            </div>
            <div class="space_hx">&nbsp;</div>
            <div class="box_h">
            	<span>热点新闻</span>
                <a href="{% url 'news' %}">更多</a>
            </div>
            <div class="box_m">
            	<ul>
                    {% for new in hot_news %}
                	<li><a href="{% url 'new_d' new.id %}">{{ new.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
