{% extends "index/base.html" %}
{% block title %}
    <title>招聘中心</title>
{% endblock %}

{% block banner %}

{% endblock %}


{% block main %}
<div class="banner banner_s"><img src="../../static/upload/banner_a.jpg" alt="招聘中心"/></div>
<div class="space_hx">&nbsp;</div>
<div class="scd clearfix">
	<div class="scd_top">
    	<div class="s_nav">
        	<a href="javascript:void(0);"><span>销售代表</span></a>
            <a href="javascript:void(0);"><span>客户经理</span></a>
            <a href="javascript:void(0);"><span>行政前台</span></a>
            <a href="javascript:void(0);"><span>人事专员</span></a>
            <a href="javascript:void(0);"><span>培训讲述</span></a>
        </div>
        <div class="pst">
        	当前位置：<a href="{% url 'index' %}">首页</a>-<a href="javascript:void(0);">招聘中心</a>
        </div>
    </div>
    <div class="join clearfix">
    	<dl class="join_a clearfix">
        	<dt>
            	<div class="title">酒店投资——与国际顶级四季酒店、法国雅高战略合作</div>
                <div class="des">
                	<p>公司名称服务中心 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>定位及建设目标：包括区域城市现状及趋势分析、服务中心改造定位、服务中心建设目标</p>
                    <p>服务中心运营体系：包括服务中心平台架构、服务中心品牌体系两个方面</p>
                    <p>服务中心服务平台：包括基础硬件升级改造、服务平台落地、项目工作推进规划</p>
                </div>
            </dt>
            <dd>
            	<a href="javascript:void(0);"><span>薪资待遇</span></a>
                <a href="javascript:void(0);"><span>岗位职责</span></a>
                <a href="javascript:void(0);"><span>岗位要求</span></a>
            </dd>
        </dl>
        <div class="space_hx">&nbsp;</div>
        <ul class="join_d clearfix">
        	<li>
            	<a href="">
                	<div class="tu"><img src="../../static/upload/pic10.jpg" alt=""/></div>
                    <div class="wen">
                    	<div class="title">乌沙大酒店</div>
                        <div class="des">
                        	<p>建筑面积：约50000㎡（商业部分）</p>
                            <p>商业建筑：写字楼群街区商业</p>
                            <p>建筑层数：2层，地上1层及地下1层</p>
                            <p>地址：深圳前海桂湾片区</p>
                            <p>项目进度：全球招商进行中</p>
                            <p>招商电话：0755-82912388-8369</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
            	<a href="">
                	<div class="tu"><img src="../../static/upload/pic10.jpg" alt=""/></div>
                    <div class="wen">
                    	<div class="title">乌沙大酒店</div>
                        <div class="des">
                        	<p>建筑面积：约50000㎡（商业部分）</p>
                            <p>商业建筑：写字楼群街区商业</p>
                            <p>建筑层数：2层，地上1层及地下1层</p>
                            <p>地址：深圳前海桂湾片区</p>
                            <p>项目进度：全球招商进行中</p>
                            <p>招商电话：0755-82912388-8369</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
            	<a href="">
                	<div class="tu"><img src="../../static/upload/pic10.jpg" alt=""/></div>
                    <div class="wen">
                    	<div class="title">乌沙大酒店</div>
                        <div class="des">
                        	<p>建筑面积：约50000㎡（商业部分）</p>
                            <p>商业建筑：写字楼群街区商业</p>
                            <p>建筑层数：2层，地上1层及地下1层</p>
                            <p>地址：深圳前海桂湾片区</p>
                            <p>项目进度：全球招商进行中</p>
                            <p>招商电话：0755-82912388-8369</p>
                        </div>
                    </div>
                </a>
            </li>
            <li>
            	<a href="">
                	<div class="tu"><img src="../../static/upload/pic10.jpg" alt=""/></div>
                    <div class="wen">
                    	<div class="title">乌沙大酒店</div>
                        <div class="des">
                        	<p>建筑面积：约50000㎡（商业部分）</p>
                            <p>商业建筑：写字楼群街区商业</p>
                            <p>建筑层数：2层，地上1层及地下1层</p>
                            <p>地址：深圳前海桂湾片区</p>
                            <p>项目进度：全球招商进行中</p>
                            <p>招商电话：0755-82912388-8369</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
